#affichage{
float:left;
margin-top:10px;
margin-left:80px;
width:93%;
border-radius: 10px;
overflow:auto;
}
#liste{
float:left;
margin-top:10px;
margin-left:20px;
padding-left:10px;
width:150px;
overflow:auto;
border-radius: 10px;
}
#det_liste{
float:right;
margin-top:10px;
margin-left:20px;
padding-left:10px;
width:280px;
overflow:auto;
border-radius: 10px;
}
td{
padding:3px;
text-align:left;
}
th{padding:3px;
text-align:right;
cursor:pointer;
}
img{
cursor:pointer;
}
h3{
margin:10px;
padding:3px;
border-top:solid 1px;
border-bottom:solid 1px;
border-color:#000;
text-align:center;
}
.nom{
padding:0px;
cursor:pointer;
font-weight:bold;
}
.param[type='TH']{
text-align:center;
cursor:pointer;
}
.code1{
top:40px;
left:40px;
width:820px;
height:560px;
background-color:#83c7c3;
position:absolute;
border-radius: 10px;
z-index:2000;
}
.cadre{
padding:5px;
border:solid 1px;
border-radius: 10px;
}
input[type=text]._demi{
width:100px
}
button{
height:30px;
font-size:15px;
font-weight:bold;
}
#popup{
position:absolute;
visibility:hidden;
float:left;
margin : 100px 0 0 100px;
background-color:white;
width:520px;
height:460px;
border-radius: 10px;
}