html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr  {
margin : 0;
padding : 0;
border : 0;
outline : 0;
font-size : 100%;
/* vertical-align : baseline; */
background : transparent;
}
hr{background : grey;width:90%;text-align:center;margin : 10px;}
body {  line-height: 1;font-family:arial;font-size:10pt}
ol, ul ,li{ list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,q:before, q:after { content: '';    content: none;}
/* remember to define focus styles! */
:focus {        outline: 0;}
/* remember to highlight inserts somehow! */
ins, a {   text-decoration: none;color:gray}
del {   text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse;      border-spacing: 0;}

/* FIN DE LA REINTIALISATION */    
    body{background-color:#FF6500}
/*     button{width:200px;height:35px;font-size:14px;font-weight:bold} */
/*     .bt_sel{width:118px;height:35px;font-size:14px;font-weight:bold;background-color:red} */
    img{border:0px}
    #menu{
    position:fixed;
    left:0px;
    width:61px;
    }
    #s_menu{
    cursor:pointer;
    font-weight:bold;
    }
    #contenu{
    min-width:810px}
    
    #bandeau{
    border-radius: 10px;
    float:left;
    margin-top:10px;
    margin-left:80px;
    width:93%;
    max-height:300px
    }
    #plein{
    background-image:url("/images/plein.svg");
    width:45px;
    height:45px;
    background-size: contain;
}
a{text-decoration:none}
/*     http://scottgale.com/blog/css-vertical-text/2010/03/01/ */
    .vertical {
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;
	display:block;
	font-family: arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
  cursor:pointer;
  }
.tableB{
border:solid 1px;
}
.fdroite{
float:right;
}
.fgauche{
float:left;
}
.droite{
text-align:right;
}
.gauche{
text-align:left;
}
.centre{
text-align:center;
}
  
img{
cursor:pointer;
vertical-align:middle;
}

.jaune{
background-color:yellow;
}
.blanc{
background-color:white;
}

h3{
margin:10px;
padding:3px;
border-top:solid 1px;
border-bottom:solid 1px;
border-color:#000;
text-align:center;
}

select{
text-align:center;
font-family: arial, Helvetica, sans-serif;
}
input[type=text]{
width:300px;
border : 0;
padding : 3px;
}
input[type=text].pt{
text-align:right;
width:20px;
}
input[type=text].mille{
text-align:right;
width:30px
}
input[type=text].cent{
width:50px;
text-align:right;
}
input[type=text].demi{
width:100px;
text-align:right;
}

.param[type='TH']{
text-align:center;
cursor:pointer;
}
.popup{
top:40px;
left:40px;
width:820px;
height:560px;
/* background-color:#83c7c3; */
position:relative;
    border-radius: 10px;
z-index:2000;
}

#panneau_d{
float:right;
width:46%;
/* max-height:700px; */
overflow:auto;
margin-left: 10px;
margin-bottom:10px;
}
#panneau_g{
width:46%;
float:left;
/* max-height:700px; */
overflow:auto;
margin-left: 10px;
margin-bottom:10px;
}
#mysql{
z-index:1000;
position:absolute;
top:100px;
left:300px;
padding-top:100px;
text-align:center;
background-image:url('/images/attenteT.gif');
background-repeat:no-repeat;
background-position:top center;
background-color: white;
visibility:hidden;
    border-radius: 300px;
width:300px;
height:200px;
}
.pointer{
cursor:pointer;
}
.oeil{
width:40px;
height:40px;
padding:2px;
float:right;
background-image:url('/images/oeil.svg');
background-size: contain;
background-origin: content-box;
background-repeat:no-repeat;
/* background-position: center;  */
cursor: pointer;
}

.cpcl{
width:20px;
height:20px;
padding:2px;
background-image:url('/images/clippy.svg');
background-size: contain;
background-origin: content-box;
background-repeat:no-repeat;
/* background-position: center;  */
cursor: pointer;
}

.attention {
    min-height: 60px;
    background-image:url('/images/attention.png');
	background-repeat:no-repeat;
    background-position:left;
    background-color : beige;
    padding : 10px 10px 10px 70px;
    border : solid 2px 0px 2px 0px;
}
/* http://dmouronval.developpez.com/tutoriels/css/fenetre-modale-css3/ */
#aide{
visibility:hidden;
			background: #fff;
			padding: 20px;
			border: 20px solid #ddd;
			position: absolute;
			margin: 10% auto;
			width: 50%;
			left:100px;
			overflow:auto;
			box-shadow: 0px 0px 20px #000;
			border-radius: 10px;
			}
#ferme_aide{
			background: #fff;
			padding: 20px;
			border: 20px solid #ddd;
			position: relative;
			margin: 10% auto;
			box-shadow: 0px 0px 20px #000;
			border-radius: 10px;
			}
			
table.generique{
width:97%;
}
table.generique tr{
height:25px;
}
table.generique thead{
background-color:white;
}
table.generique tfoot{
background-color:white;
}

