table#clavier{
/* 	position:absolute; */
	width:100%;
/*  	border:1px solid #7C7C7C; */
	font-size:18px;
	font-family: 'arial';
	overflow:auto;
}

table#clavier tr{
	padding:5px;
	color: #303030;
/* 	display:block; */
	width:100%;
	height:40px;
}
table#clavier td {
	cursor:pointer;
}
table#clavier td.livre{
	background-image:url('/images/livre.png');
	background-repeat:no-repeat;
	background-position:center left;
	cursor:pointer;
	color: #303030;
	width:100%;
}
table#clavier td.references{
	background-image:url('/images/references.png');
	background-repeat:no-repeat;
	background-position:center left;
	padding:0px;
	cursor:pointer;
	color: #303030;
	display:block;
	width:100%;
}
table#clavier td.auteur{
	cursor:default;
	color: #303030;
	font-style:italic;
	font-weight:bold;
	text-align:left;
	width:100%;
	padding-top:1px;
}
table#clavier tr.sel{
	background-color:#B4D5FE;
}
#recherche{
border-radius: 10px;
font-size:25px;
text-align:center;
width:680px;
height:30px;
margin-left:20px;
}