/* 
	Document   : simpleAutoComplete
	Created on : 14/03/2010, 13:27:12
	Author     : Wellington Ribeiro
	Description:
		Para estilizar o simpleAutoComplete
	Para não ter problema de posicionamento no IE6,
		deve-se setar width e height,
		ou então usar um hack em div.autocomplete
*/

div.autocomplete{
	position:absolute;
	width:780px;
 	border:1px solid #7C7C7C;
/* 	font-size:11px; */
	font-family: 'arial';
}
div.autocomplete ul{
	padding-left:0;
	margin:0;
	list-style:none
}
div.autocomplete ul li{
	background-color:#FEFEFE;
	padding:10px;
	cursor:pointer;
	color: #303030;
	display:block;
	width:100%;
}
div.autocomplete li.livre{
	background-image:url('/images/livre.png');
	background-repeat:no-repeat;
	background-position:center left;
	padding:10px;
	cursor:pointer;
	color: #303030;
	display:block;
	width:100%;
}
div.autocomplete li.references{
	background-image:url('/images/references.png');
	background-repeat:no-repeat;
	background-position:center left;
	padding:10px;
	cursor:pointer;
	color: #303030;
	display:block;
	width:100%;
}
div.autocomplete li.auteur{
opacity: 0.5;
	padding:1px 10px;
	cursor:pointer;
	color: #303030;
	display:block;
	font-style:italic;
	pointer-events:none;
	text-align:left;
	width:100%;
}
div.autocomplete ul li.sel{
	background-color:#B4D5FE;
}
#recherche{
border-radius: 10px;
font-size:25px;
text-align:center;
width:90%;
margin-left:5%;
}