
h1 {
font-size:20px;
background-color:#FF99FF;
text-align:center;
padding:20px;
/* display:none; */
}
h2 {
font-weight:bold;
font-size:20px;
color:white;
text-align:center;
padding:20px;
/* display:none; */
}
h4{
margin-right:10px;
padding:10px;
border-bottom:solid 1px;
border-color:#000;
text-align:center;
}


ul {
  list-style: none;
  margin: 10px;
  padding: 0;
  text-align: center;
}

h3 {
width:88%;
}

li {
  border-radius: 3px;
  color: black;
  background: white;
  cursor: pointer;
  display: inline;
  font-size: 20px;
  font-weight:bold;
  margin: 10px 5px 0px 2px;
  padding: 18px 30px 18px 30px;
  text-align: center;
  width: 50px;  
}

.active {
  background: #c0c0c0;
  color: white;
  cursor: default;
}

a{text-decoration:none}

.pt8{
font-size:8pt;
/* font-: */
}
/*------------------interface----------------------------*/
#affichage{
float:left;
/* min-height:640px; */
margin-top:10px;
width:93%;
border-radius: 10px;
overflow:hidden;
}

#regelement{
width:400px;
}

#panier{
position:relative;
float:left;
}

#references{
position:relative;
/* display: flex; */
flex-wrap: wrap;
float:right;
width:380px;
height:98%;
margin-left:20px;
margin-top:20px;
}

#entete{
min-width:1260px;
}

#prix{
float:right;
width:300px;
background-color:black;
text-align:right;
font-size:80px;
color:white;
font-weight:bold;
height:75px;
font-family:times;
margin:5px;
padding-top:15px;
border-radius: 10px;
}

#mode{
float:right;
width:90px;
margin-right:5px
}
#voile{
position:absolute;
top:0;
width:100%;
height:100%;
visibility:hidden;
background-color:black;
opacity: 0.8;
}
#pass{
background-color:white;
position:absolute;
top:100px;
left:38%;
width:350px;
height:550px;
visibility:hidden;
}
#mysql{
position:absolute;
top:200px;
left:200px;
background-image:url('/images/attente.gif');
background-repeat:no-repeat;
background-position:center center;
visibility:hidden;
    border-radius: 10px;
background-color:yellow;
width:600px;
height:80px;
}
#popup {
	position: absolute;
	top : 400px;
	left : 200px;
}
/*------------------fin interface----------------------------*/

/*------------------boutons de gestion----------------------------*/
#liste_tickets{
height:90px;
width:110px;
border-radius: 10px;
margin:10px;
font-size:15pt;
font-weight:bold;
overflow-wrap: break-word;
float:right;
}

.panier_actif{
border-radius: 45px;
width:94px;
height:94px;
font-size:18px;
margin:6px 0px 0px 4px;
font-weight:bold;
float:left;
}

.panier_attente{
border-radius: 35px;
width:70px;
height:70px;
font-size:18px;
margin-top:27px;
font-weight:bold;
float:left;
}

.Bimage{
margin:10px;
padding:5px;
min-height:100px;
min-width:100px;
font-size:30pt;
font-weight:bold;
}

.button{
/* width:150px; */
font-size:18px;
padding:5px 20px 5px 20px;
}
/*------------------fin de boutons de gestion----------------------------*/

/*------------------les tables----------------------------*/
table#tableTicket{
width:98%;
margin:0 20px 20px;
border-collapse: collapse;
}
	table#tableTicket th{
	font-size:20px;
	padding:10px;
	vertical-align: middle;
	}
	table#tableTicket td{
/* 	vertical-align: middle; */
	font-size:20px;
  height:63px;
	padding:0px 10px 0 10px;
	}

	table#tableTicket td.livre{
	background-image:url('/images/livre.png');
	background-repeat:no-repeat;
	background-position:center left;
	font-size:20px;
  height:63px;
	padding:0 10px 0 10px;
	}
	
	table#tableTicket .libelle{
	font-size:20px;
	width:200px; 
	vertical-align: middle;
	white-space: nowrap; 
	overflow: hidden;
 	text-overflow: ellipsis;
	}
	
	table#tableTicket .sup{
	background-image:url('/images/close_pop.png');
	background-repeat: no-repeat;
	background-position:0px 6px;
	vertical-align:middle;
	text-align:center;
	width:47px;
	font-size:20px;
	font-weight:bold;
	}
	table#tableTicket .edit{
	background-image:url('/images/edit.png');
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align:middle;
	text-align:center;
	width:60px;
	font-size:20px;
	font-weight:bold;
	}
	
	table#tableTicket .voir{
	background-image:url('/images/edit.png');
	background-repeat: no-repeat;
	background-origin:content-box;
	background-position: center; 
	vertical-align:middle;
	text-align:center;
	width:50px;
	font-size:20px;
	font-weight:bold;
	}
	
	table#tableTicket .align_d{
	text-align:right;
 padding-right:10px; 
	}
	
	table#tableTicket ul{
	text-align:center;
	}
	
	.stock{
	font-size:12px;
	color:red;
	}
	
	.plus1{
	font-size:20px;
  height:60px;
	margin-right:5px;
	float:right;
	}
	
table#tableRevoir{
width:98%;
/* margin-right:10px; */
}
	table#tableRevoir th{
	font-size:15px;
	font-weight:bold;
	color:black;
	padding:2px;
	vertical-align: middle;
	margin-right:10px;
	background-color:silver;
	}
	table#tableRevoir td{
	font-size:13px;
	padding:2px;
	height:18px;
	vertical-align: middle;
	margin-right:10px;
	}
	table#tableRevoir div.libell
	{
	width:200px; 
	vertical-align: middle;
	white-space: nowrap; 
	overflow: hidden;
 	text-overflow: ellipsis;
	}

table#tablePrix{
width:96%;
margin-top:10px;
}
	table#tablePrix th{
	text-align:left;
	font-size:30px;
	padding:0px 10px 0px 10px;
	height:50px;
	width:150px;
	vertical-align: middle;
	}
	table#tablePrix  td{
	text-align:right;
	font-size:30px;
	padding:0px 10px 0px 10px;
	height:50px;
	vertical-align: middle;
	background-color:white;
	}

/* table#tableReglement */
	
table#tableReglement{
margin-left:15px;
font-size:30px;
vertical-align: middle;
}
/*table#tableReglement tr{
height:80px;
}*/

.saisie{
border-radius: 15px;
background-color:white;
width:100px;
border:dotted 1px;
text-align:right;
padding-right:10px;
}

table#tableDetailCompte{
float:left;
/* width:100%; */
font-size:18px;
/* padding:10px; */
vertical-align: middle;
}

	table#tableDetailCompte td{
	font-size:18px;
	padding:0px 10px 0px 10px;
	vertical-align: middle;
	height:50px;
	visibility:visible;
	}

table#tableCompte{
width:100%
}
	table#tableCompte td{
	font-size:18px;
	padding:0px 10px 0px 10px;
	vertical-align: middle;
	height:70px;
	visibility:visible;
	}
	table#tableCompte th{
	font-size:18px;
	padding:10px;
	vertical-align: middle;
	}
	
	

/*------------------fin des tables----------------------------*/
.edit{
	width:60px;
	background-image:url('/images/edit.png');
	background-repeat: no-repeat;
	background-origin:content-box;
	background-position: center; 
  cursor: pointer;
	}
.valid{
	width:60px;
	background-image:url('/images/valider.png');
	background-repeat: no-repeat;
	background-origin:content-box;
	background-position: center; 
	cursor: pointer;
	}
.voirC{
	width:60px;
	background-image:url('/images/voirC.png');
	background-repeat: no-repeat;
	background-origin:content-box;
	background-position: center; 
	cursor: pointer;
	}

.boutref{
width:80px;
height:80px;
margin:5px;
font-size:20px;
font-weight:bold;
}

.boutpdf{
width:80px;
height:80px;
margin:5px;
font-size:20px;
font-weight:bold;
background-image:url('/images/pdf.gif');
background-position: left; 
background-repeat: no-repeat;
}

.boutrefimage{
width:80px;
height:80px;
margin:5px;
font-size:20px;
font-weight:bold;
background-position: center; 
background-repeat: no-repeat;
background-size:contain;
}
.abbaye {
background-position: left; 
background-repeat: no-repeat;
background-size:contain;
}

.Bcartes{
margin:10px;
padding-top:5px;
min-height:70px;
width:300px;
font-size:20pt;
font-weight:bold;
}


.d{
float:right;
}

.plus{
text-align:center;
font-weight:bold;
font-size:18pt;
height:50px;
width:30px;
}

.selec{
font-size:18pt;
padding:5px;
}


#ecran{
width:60px;
height:90px;
margin-top:10px;
padding:2px;
float:right;
background-image:url('/images/ecran.svg');
background-size: contain;
background-origin: content-box;
background-repeat:no-repeat;
background-position: center; 
cursor: pointer;
}
#n_ecran{
width:60px;
height:40px;
}
